{
  "openapi": "3.0.0",
  "info": {
    "title": "In-Store Pickup Orders",
    "version": "html-snapshot",
    "description": "Production documentation snapshot extracted from the official Wildberries documentation HTML for https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup."
  },
  "servers": [
    {
      "url": "https://marketplace-api.wildberries.ru"
    }
  ],
  "tags": [
    {
      "name": "In-Store Pickup Orders"
    },
    {
      "name": "In-Store Pickup Assembly Orders"
    },
    {
      "name": "In-Store Pickup Label Identifiers"
    },
    {
      "name": "inStorePickupLabelIdentifiers"
    }
  ],
  "paths": {
    "/api/v3/click-collect/orders/new": {
      "get": {
        "summary": "Get New Assembly Orders List",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1v3~1click-collect~1orders~1new/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/getV3ClickCollectOrdersNew",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/confirm": {
      "post": {
        "summary": "Transfer to Assembly",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1confirm/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusConfirm",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/prepare": {
      "post": {
        "summary": "Notify That the Assembly Orders Are Ready for Pickup",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1prepare/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusPrepare",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/click-collect/orders/client": {
      "post": {
        "summary": "Buyer Information",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1v3~1click-collect~1orders~1client/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersClient",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/click-collect/orders/client/identity": {
      "post": {
        "summary": "Check If the Order Belongs to the Buyer",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1v3~1click-collect~1orders~1client~1identity/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "30 запросов",
              "Интервал": "2 сек",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersClientIdentity",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/receive": {
      "post": {
        "summary": "Notify That the Orders Were Received by the Buyers",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1receive/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusReceive",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/reject": {
      "post": {
        "summary": "Notify that the Orders Are Declined",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1reject/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusReject",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/info": {
      "post": {
        "summary": "Get Assembly Order Statuses",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/click-collect/orders": {
      "get": {
        "summary": "Retrieve Information on Completed Assembly Orders",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1v3~1click-collect~1orders/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/getV3ClickCollectOrders",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/status/cancel": {
      "post": {
        "summary": "Cancel the Assembly Orders",
        "tags": [
          "In-Store Pickup Assembly Orders"
        ],
        "operationId": "tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1cancel/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusCancel",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/info": {
      "post": {
        "summary": "Get Assembly Orders Label Identifiers",
        "tags": [
          "inStorePickupLabelIdentifiers"
        ],
        "operationId": "tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1info/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов получения и удаления идентификаторов маркировки Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "150 запросов",
              "Интервал": "400 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaInfo",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/delete": {
      "post": {
        "summary": "Delete Assembly Order Label Identifiers",
        "tags": [
          "inStorePickupLabelIdentifiers"
        ],
        "operationId": "tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1delete/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов получения и удаления идентификаторов маркировки Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "150 запросов",
              "Интервал": "400 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDelete",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/sgtin": {
      "post": {
        "summary": "Add Labeling codes Chestny ZNAK to the Assembly Orders (Chestny ZNAK)",
        "tags": [
          "inStorePickupLabelIdentifiers"
        ],
        "operationId": "tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1sgtin/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "500 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaSgtin",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/uin": {
      "post": {
        "summary": "Add UIN (Unique Identification Numbers) to the Assembly Orders",
        "tags": [
          "inStorePickupLabelIdentifiers"
        ],
        "operationId": "tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1uin/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "500 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaUin",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/imei": {
      "post": {
        "summary": "Add IMEI to the Assembly Orders",
        "tags": [
          "inStorePickupLabelIdentifiers"
        ],
        "operationId": "tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1imei/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "500 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaImei",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/gtin": {
      "post": {
        "summary": "Add GTIN to the Assembly Orders",
        "tags": [
          "inStorePickupLabelIdentifiers"
        ],
        "operationId": "tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1gtin/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/in-store-pickup and https://dev.wildberries.ru/en/swagger/in-store-pickup for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "In-Store Pickup Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "500 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaGtin",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/details": {
      "post": {
        "summary": "Получить идентификаторы маркировки сборочных заданий",
        "tags": [
          "Live documentation"
        ],
        "operationId": "tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails",
        "description": "See https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails for current request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Live documentation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов получения и удаления идентификаторов маркировки Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "150 запросов",
              "Интервал": "400 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        },
        "x-wb-host": "marketplace-api.wildberries.ru"
      }
    },
    "/api/marketplace/v3/click-collect/orders/meta/customs-declaration": {
      "post": {
        "summary": "Закрепить номера ДТ за сборочными заданиями",
        "tags": [
          "Live documentation"
        ],
        "operationId": "tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration",
        "description": "See https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration for current request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Live documentation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки Самовывоз:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "500 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        },
        "x-wb-host": "marketplace-api.wildberries.ru"
      }
    }
  },
  "x-wb-extraction": {
    "mode": "docs-html-snapshot",
    "doc_url": "https://dev.wildberries.ru/en/docs/openapi/in-store-pickup",
    "swagger_url": "https://dev.wildberries.ru/en/swagger/in-store-pickup",
    "chapter_path": "in-store-pickup",
    "group_count": 3,
    "operation_count": 16
  },
  "x-wb-rate-limits": {
    "verifiedAt": "2026-07-29T13:07:26.863Z",
    "source": "https://dev.wildberries.ru/en/docs/openapi/in-store-pickup",
    "operationCount": 18
  }
}
