{
  "openapi": "3.0.0",
  "info": {
    "title": "DBW Orders",
    "version": "html-snapshot",
    "description": "Production documentation snapshot extracted from the official Wildberries documentation HTML for https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw."
  },
  "servers": [
    {
      "url": "https://marketplace-api.wildberries.ru"
    }
  ],
  "tags": [
    {
      "name": "DBW Orders"
    },
    {
      "name": "DBW Assembly Orders"
    },
    {
      "name": "DBW Label Identifiers"
    },
    {
      "name": "dbwLabelIdentifiers"
    }
  ],
  "paths": {
    "/api/v3/dbw/orders/new": {
      "get": {
        "summary": "Get New Orders",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1v3~1dbw~1orders~1new/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/getV3DbwOrdersNew",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders": {
      "get": {
        "summary": "Get Information on Completed Orders",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1v3~1dbw~1orders/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/getV3DbwOrders",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/delivery-date": {
      "post": {
        "summary": "Get Delivery Date and Time",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1v3~1dbw~1orders~1delivery-date/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/postV3DbwOrdersDeliveryDate",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbw/orders/client": {
      "post": {
        "summary": "Buyer Information",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbw~1orders~1client/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/postV3DbwOrdersClient",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/status": {
      "post": {
        "summary": "Get Orders Statuses",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1v3~1dbw~1orders~1status/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/postV3DbwOrdersStatus",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/{orderId}/confirm": {
      "patch": {
        "summary": "Transfer to Assembly",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1v3~1dbw~1orders~1{orderId}~1confirm/patch",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/patchV3DbwOrdersOrderIdConfirm",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/stickers": {
      "post": {
        "summary": "Get Orders Stickers",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1v3~1dbw~1orders~1stickers/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/postV3DbwOrdersStickers",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbw/orders/status/deliver": {
      "post": {
        "summary": "Transfer Assembly Orders to Delivery",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbw~1orders~1status~1deliver/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/postV3DbwOrdersStatusDeliver",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/courier": {
      "post": {
        "summary": "Courier Info",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1v3~1dbw~1orders~1courier/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/postV3DbwOrdersCourier",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/{orderId}/cancel": {
      "patch": {
        "summary": "Cancel the Order",
        "tags": [
          "DBW Assembly Orders"
        ],
        "operationId": "tag/DBW-Assembly-Orders/paths/~1api~1v3~1dbw~1orders~1{orderId}~1cancel/patch",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов DBW:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "10 запросов",
              "Интервал": "6 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwAssemblyOrders/operation/patchV3DbwOrdersOrderIdCancel",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nуправление сборочными заданиями\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbw/orders/meta/details": {
      "post": {
        "summary": "Get Order Label Identifiers",
        "tags": [
          "dbwLabelIdentifiers"
        ],
        "operationId": "tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwLabelIdentifiers/operation/postV3DbwOrdersMetaDetails",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbw/orders/meta/delete": {
      "post": {
        "summary": "Delete Assembly Orders Label Identifiers",
        "tags": [
          "dbwLabelIdentifiers"
        ],
        "operationId": "tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1delete/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwLabelIdentifiers/operation/postV3DbwOrdersMetaDelete",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/{orderId}/meta": {
      "get": {
        "summary": "Get Order Label Identifiers",
        "tags": [
          "dbwLabelIdentifiers"
        ],
        "operationId": "tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1{orderId}~1meta/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Label Identifiers",
        "deprecated": true,
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwLabelIdentifiers/operation/getV3DbwOrdersOrderIdMeta",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbw/orders/meta/sgtin": {
      "post": {
        "summary": "Add Labeling Codes Chestny ZNAK to Assembly Orders",
        "tags": [
          "dbwLabelIdentifiers"
        ],
        "operationId": "tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1sgtin/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwLabelIdentifiers/operation/postV3DbwOrdersMetaSgtin",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/{orderId}/meta/uin": {
      "put": {
        "summary": "Add UIN (Unique Identification Number) to the Order",
        "tags": [
          "dbwLabelIdentifiers"
        ],
        "operationId": "tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1{orderId}~1meta~1uin/put",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "1000 запросов",
              "Интервал": "60 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwLabelIdentifiers/operation/putV3DbwOrdersOrderIdMetaUin",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/{orderId}/meta/imei": {
      "put": {
        "summary": "Add IMEI to the Order",
        "tags": [
          "dbwLabelIdentifiers"
        ],
        "operationId": "tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1{orderId}~1meta~1imei/put",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "1000 запросов",
              "Интервал": "60 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwLabelIdentifiers/operation/putV3DbwOrdersOrderIdMetaImei",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/orders/{orderId}/meta/gtin": {
      "put": {
        "summary": "Add GTIN to the Order",
        "tags": [
          "dbwLabelIdentifiers"
        ],
        "operationId": "tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1{orderId}~1meta~1gtin/put",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbw and https://dev.wildberries.ru/en/swagger/orders-dbw for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBW Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "1000 запросов",
              "Интервал": "60 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbw#tag/dbwLabelIdentifiers/operation/putV3DbwOrdersOrderIdMetaGtin",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    }
  },
  "x-wb-extraction": {
    "mode": "docs-html-snapshot",
    "doc_url": "https://dev.wildberries.ru/en/docs/openapi/orders-dbw",
    "swagger_url": "https://dev.wildberries.ru/en/swagger/orders-dbw",
    "chapter_path": "orders-dbw",
    "group_count": 3,
    "operation_count": 17
  },
  "x-wb-rate-limits": {
    "verifiedAt": "2026-07-29T13:07:26.863Z",
    "source": "https://dev.wildberries.ru/en/docs/openapi/orders-dbw",
    "operationCount": 17
  }
}
