{
  "openapi": "3.0.0",
  "info": {
    "title": "DBS Orders",
    "version": "html-snapshot",
    "description": "Production documentation snapshot extracted from the official Wildberries documentation HTML for https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs."
  },
  "servers": [
    {
      "url": "https://marketplace-api.wildberries.ru"
    }
  ],
  "tags": [
    {
      "name": "DBS Orders"
    },
    {
      "name": "DBS Assembly Orders"
    },
    {
      "name": "DBS Label Identifiers"
    },
    {
      "name": "dbsLabelIdentifiers"
    }
  ],
  "paths": {
    "/api/v3/dbs/orders/new": {
      "get": {
        "summary": "Get New Orders List",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1v3~1dbs~1orders~1new/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/getV3DbsOrdersNew",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbs/orders": {
      "get": {
        "summary": "Get Information on Completed Orders",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1v3~1dbs~1orders/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/getV3DbsOrders",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbs/groups/info": {
      "post": {
        "summary": "Get Information on Paid Delivery",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1v3~1dbs~1groups~1info/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsGroupsInfo",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbs/orders/client": {
      "post": {
        "summary": "Buyer Information",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1v3~1dbs~1orders~1client/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersClient",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/b2b/info": {
      "post": {
        "summary": "B2B Buyer Information",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1b2b~1info/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersB2bInfo",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbs/orders/delivery-date": {
      "post": {
        "summary": "Get Delivery Date and Time",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1v3~1dbs~1orders~1delivery-date/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersDeliveryDate",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/info": {
      "post": {
        "summary": "Get Assembly Order Statuses",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersStatusInfo",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/cancel": {
      "post": {
        "summary": "Cancel Assembly Orders",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1cancel/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersStatusCancel",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/confirm": {
      "post": {
        "summary": "Transfer to Assembly",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1confirm/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersStatusConfirm",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/stickers": {
      "post": {
        "summary": "Get Stickers for Assembly Orders with Delivery to Pickup Point",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1stickers/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов сборочных заданий DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersStickers",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/deliver": {
      "post": {
        "summary": "Transfer to Delivery",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1deliver/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersStatusDeliver",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/receive": {
      "post": {
        "summary": "Notify that the Orders Are Received",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1receive/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersStatusReceive",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/status/reject": {
      "post": {
        "summary": "Notify that the Orders Are Declined",
        "tags": [
          "DBS Assembly Orders"
        ],
        "operationId": "tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1reject/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Assembly Orders",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsAssemblyOrders/operation/postV3DbsOrdersStatusReject",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/details": {
      "post": {
        "summary": "Get Assembly Orders Label Identifiers",
        "tags": [
          "dbsLabelIdentifiers"
        ],
        "operationId": "tag/dbsLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1details/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов получения и удаления идентификаторов маркировки DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsLabelIdentifiers/operation/postV3DbsOrdersMetaDetails",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/info": {
      "post": {
        "summary": "Get Assembly Orders Label Identifiers",
        "tags": [
          "dbsLabelIdentifiers"
        ],
        "operationId": "tag/dbsLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Label Identifiers",
        "deprecated": true,
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов получения и удаления идентификаторов маркировки DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "150 запросов",
              "Интервал": "400 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsLabelIdentifiers/operation/postV3DbsOrdersMetaInfo",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/delete": {
      "post": {
        "summary": "Delete Assembly Orders Label Identifiers",
        "tags": [
          "dbsLabelIdentifiers"
        ],
        "operationId": "tag/dbsLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1delete/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов получения и удаления идентификаторов маркировки DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "150 запросов",
              "Интервал": "400 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsLabelIdentifiers/operation/postV3DbsOrdersMetaDelete",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/sgtin": {
      "post": {
        "summary": "Add Data Matrix Codes to Assembly Orders (Chestny ZNAK)",
        "tags": [
          "dbsLabelIdentifiers"
        ],
        "operationId": "tag/dbsLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки DBS:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "500 запросов",
              "Интервал": "120 мс",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "500 запросов",
              "Интервал": "120 мс",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "500 запросов",
              "Интервал": "120 мс",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "10 запросов",
              "Интервал": "6 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsLabelIdentifiers/operation/postV3DbsOrdersMetaSgtin",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/uin": {
      "post": {
        "summary": "Add UIN (Unique Identification Number) to Assembly Orders",
        "tags": [
          "dbsLabelIdentifiers"
        ],
        "operationId": "tag/dbsLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "500 запросов",
              "Интервал": "120 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsLabelIdentifiers/operation/postV3DbsOrdersMetaUin",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/imei": {
      "post": {
        "summary": "Add IMEI to Assembly Orders",
        "tags": [
          "dbsLabelIdentifiers"
        ],
        "operationId": "tag/dbsLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "500 запросов",
              "Интервал": "120 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsLabelIdentifiers/operation/postV3DbsOrdersMetaImei",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/gtin": {
      "post": {
        "summary": "Add GTIN to Assembly Orders",
        "tags": [
          "dbsLabelIdentifiers"
        ],
        "operationId": "tag/dbsLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "500 запросов",
              "Интервал": "120 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsLabelIdentifiers/operation/postV3DbsOrdersMetaGtin",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/marketplace/v3/dbs/orders/meta/customs-declaration": {
      "post": {
        "summary": "Add Custom Declaration to the Orders",
        "tags": [
          "dbsLabelIdentifiers"
        ],
        "operationId": "tag/dbsLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1customs-declaration/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/orders-dbs and https://dev.wildberries.ru/en/swagger/orders-dbs for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "DBS Label Identifiers",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов закрепления идентификаторов маркировки DBS:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "500 запросов",
              "Интервал": "120 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/orders-dbs#tag/dbsLabelIdentifiers/operation/postV3DbsOrdersMetaCustomsDeclaration",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    }
  },
  "x-wb-extraction": {
    "mode": "docs-html-snapshot",
    "doc_url": "https://dev.wildberries.ru/en/docs/openapi/orders-dbs",
    "swagger_url": "https://dev.wildberries.ru/en/swagger/orders-dbs",
    "chapter_path": "orders-dbs",
    "group_count": 3,
    "operation_count": 21
  },
  "x-wb-rate-limits": {
    "verifiedAt": "2026-07-29T13:07:26.863Z",
    "source": "https://dev.wildberries.ru/en/docs/openapi/orders-dbs",
    "operationCount": 21
  }
}
