{
  "openapi": "3.0.0",
  "info": {
    "title": "Marketing and Promotions",
    "version": "html-snapshot",
    "description": "Production documentation snapshot extracted from the official Wildberries documentation HTML for https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion."
  },
  "servers": [
    {
      "url": "https://advert-api.wildberries.ru"
    }
  ],
  "tags": [
    {
      "name": "Marketing and Promotions"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Campaigns Creation"
    },
    {
      "name": "Campaigns Management"
    },
    {
      "name": "Search Clusters"
    },
    {
      "name": "Finances"
    },
    {
      "name": "Media"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Promotions Calendar"
    },
    {
      "name": "Recommendations"
    },
    {
      "name": "recommendations"
    }
  ],
  "paths": {
    "/adv/v1/promotion/count": {
      "get": {
        "summary": "Campaigns Lists",
        "tags": [
          "Campaigns"
        ],
        "operationId": "tag/Campaigns/paths/~1adv~1v1~1promotion~1count/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Kampanii/paths/~1adv~1v1~1promotion~1count/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/advert/v2/adverts": {
      "get": {
        "summary": "Campaigns Information",
        "tags": [
          "Campaigns"
        ],
        "operationId": "tag/Campaigns/paths/~1api~1advert~1v2~1adverts/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/advert/v1/bids/min": {
      "post": {
        "summary": "Minimum Bids for Product Cards",
        "tags": [
          "Campaigns Creation"
        ],
        "operationId": "tag/Campaigns-Creation/paths/~1api~1advert~1v1~1bids~1min/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Creation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Sozdanie-kampanij/paths/~1api~1advert~1v1~1bids~1min/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v2/seacat/save-ad": {
      "post": {
        "summary": "Create Campaign",
        "tags": [
          "Campaigns Creation"
        ],
        "operationId": "tag/Campaigns-Creation/paths/~1adv~1v2~1seacat~1save-ad/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Creation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "5 запросов",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "5 запросов",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "5 запросов",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Sozdanie-kampanij/paths/~1adv~1v2~1seacat~1save-ad/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/supplier/subjects": {
      "get": {
        "summary": "Subjects for Campaigns",
        "tags": [
          "Campaigns Creation"
        ],
        "operationId": "tag/Campaigns-Creation/paths/~1adv~1v1~1supplier~1subjects/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Creation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "12 сек",
              "Лимит": "1 запрос",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "12 сек",
              "Лимит": "1 запрос",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "12 сек",
              "Лимит": "1 запрос",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Sozdanie-kampanij/paths/~1adv~1v1~1supplier~1subjects/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v2/supplier/nms": {
      "post": {
        "summary": "Product Cards for Campaigns",
        "tags": [
          "Campaigns Creation"
        ],
        "operationId": "tag/Campaigns-Creation/paths/~1adv~1v2~1supplier~1nms/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Creation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "5 запросов",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "5 запросов",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "5 запросов",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Sozdanie-kampanij/paths/~1adv~1v2~1supplier~1nms/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/delete": {
      "get": {
        "summary": "Delete Campaign",
        "tags": [
          "Campaigns Management"
        ],
        "operationId": "tag/Campaigns-Management/paths/~1adv~1v0~1delete/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Management",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1delete/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/rename": {
      "post": {
        "summary": "Rename Campaign",
        "tags": [
          "Campaigns Management"
        ],
        "operationId": "tag/Campaigns-Management/paths/~1adv~1v0~1rename/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Management",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1rename/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/start": {
      "get": {
        "summary": "Launch Campaign",
        "tags": [
          "Campaigns Management"
        ],
        "operationId": "tag/Campaigns-Management/paths/~1adv~1v0~1start/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Management",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1start/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/pause": {
      "get": {
        "summary": "Pause Campaign",
        "tags": [
          "Campaigns Management"
        ],
        "operationId": "tag/Campaigns-Management/paths/~1adv~1v0~1pause/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Management",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1pause/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/stop": {
      "get": {
        "summary": "Stop Campaign",
        "tags": [
          "Campaigns Management"
        ],
        "operationId": "tag/Campaigns-Management/paths/~1adv~1v0~1stop/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Management",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1stop/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/auction/placements": {
      "put": {
        "summary": "Changing Placements in Campaigns with Custom Bid",
        "tags": [
          "Campaigns Management"
        ],
        "operationId": "tag/Campaigns-Management/paths/~1adv~1v0~1auction~1placements/put",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Management",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1auction~1placements/put",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/advert/v1/bids": {
      "patch": {
        "summary": "Changing Campaigns Bids",
        "tags": [
          "Campaigns Management"
        ],
        "operationId": "tag/Campaigns-Management/paths/~1api~1advert~1v1~1bids/patch",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Management",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1api~1advert~1v1~1bids/patch",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/auction/nms": {
      "patch": {
        "summary": "Changing the List of Product Cards in Campaigns",
        "tags": [
          "Campaigns Management"
        ],
        "operationId": "tag/Campaigns-Management/paths/~1adv~1v0~1auction~1nms/patch",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Management",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1auction~1nms/patch",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/advert/v0/bids/recommendations": {
      "get": {
        "summary": "Recommended bids for items and search clusters",
        "tags": [
          "Campaigns Management"
        ],
        "operationId": "tag/Campaigns-Management/paths/~1api~1advert~1v0~1bids~1recommendations/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Campaigns Management",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "5 запросов",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "5 запросов",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "5 запросов",
              "Интервал": "12 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "20 запросов",
              "Интервал": "3 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1api~1advert~1v0~1bids~1recommendations/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/normquery/get-bids": {
      "post": {
        "summary": "List of Search Clusters Bids",
        "tags": [
          "Search Clusters"
        ],
        "operationId": "tag/Search-Clusters/paths/~1adv~1v0~1normquery~1get-bids/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Search Clusters",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Poiskovye-klastery/paths/~1adv~1v0~1normquery~1get-bids/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/normquery/bids": {
      "post": {
        "summary": "Set Bids for Search Clusters",
        "tags": [
          "Search Clusters"
        ],
        "operationId": "tag/Search-Clusters/paths/~1adv~1v0~1normquery~1bids/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Search Clusters",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "2 запроса",
              "Интервал": "500 мс",
              "Всплеск": "4 запроса"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "2 запроса",
              "Интервал": "500 мс",
              "Всплеск": "4 запроса"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "2 запроса",
              "Интервал": "500 мс",
              "Всплеск": "4 запроса"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Poiskovye-klastery/paths/~1adv~1v0~1normquery~1bids/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      },
      "delete": {
        "summary": "Delete Bids from Search Clusters",
        "tags": [
          "Search Clusters"
        ],
        "operationId": "tag/Search-Clusters/paths/~1adv~1v0~1normquery~1bids/delete",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Search Clusters",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Poiskovye-klastery/paths/~1adv~1v0~1normquery~1bids/delete",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/normquery/get-minus": {
      "post": {
        "summary": "List of Campaign Minus Phrases",
        "tags": [
          "Search Clusters"
        ],
        "operationId": "tag/Search-Clusters/paths/~1adv~1v0~1normquery~1get-minus/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Search Clusters",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Poiskovye-klastery/paths/~1adv~1v0~1normquery~1get-minus/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/normquery/set-minus": {
      "post": {
        "summary": "Setting and Deleting Minus Phrases",
        "tags": [
          "Search Clusters"
        ],
        "operationId": "tag/Search-Clusters/paths/~1adv~1v0~1normquery~1set-minus/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Search Clusters",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Poiskovye-klastery/paths/~1adv~1v0~1normquery~1set-minus/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/normquery/list": {
      "post": {
        "summary": "Active and Inactive Search Cluster Lists",
        "tags": [
          "Search Clusters"
        ],
        "operationId": "tag/Search-Clusters/paths/~1adv~1v0~1normquery~1list/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Search Clusters",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "5 запросов",
              "Интервал": "200 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Poiskovye-klastery/paths/~1adv~1v0~1normquery~1list/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/balance": {
      "get": {
        "summary": "Balance",
        "tags": [
          "Finances"
        ],
        "operationId": "tag/Finances/paths/~1adv~1v1~1balance/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Finances",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1balance/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/budget": {
      "get": {
        "summary": "Campaign Budget",
        "tags": [
          "Finances"
        ],
        "operationId": "tag/Finances/paths/~1adv~1v1~1budget/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Finances",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "4 запроса",
              "Интервал": "250 мс",
              "Всплеск": "4 запроса"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "4 запроса",
              "Интервал": "250 мс",
              "Всплеск": "4 запроса"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "4 запроса",
              "Интервал": "250 мс",
              "Всплеск": "4 запроса"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/budget/deposit": {
      "post": {
        "summary": "Top-up of the Campaign Budget",
        "tags": [
          "Finances"
        ],
        "operationId": "tag/Finances/paths/~1adv~1v1~1budget~1deposit/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Finances",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget~1deposit/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/upd": {
      "get": {
        "summary": "Receiving Costs History",
        "tags": [
          "Finances"
        ],
        "operationId": "tag/Finances/paths/~1adv~1v1~1upd/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Finances",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1upd/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/payments": {
      "get": {
        "summary": "Receiving the History of Account Top-ups",
        "tags": [
          "Finances"
        ],
        "operationId": "tag/Finances/paths/~1adv~1v1~1payments/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Finances",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1payments/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/count": {
      "get": {
        "summary": "Media Campaigns Number",
        "tags": [
          "Media"
        ],
        "operationId": "tag/Media/paths/~1adv~1v1~1count/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Media",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Media/paths/~1adv~1v1~1count/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/adverts": {
      "get": {
        "summary": "List of Media Campaigns",
        "tags": [
          "Media"
        ],
        "operationId": "tag/Media/paths/~1adv~1v1~1adverts/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Media",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Media/paths/~1adv~1v1~1adverts/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/advert": {
      "get": {
        "summary": "Information About Media Campaign",
        "tags": [
          "Media"
        ],
        "operationId": "tag/Media/paths/~1adv~1v1~1advert/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Media",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Media/paths/~1adv~1v1~1advert/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v0/normquery/stats": {
      "post": {
        "summary": "Search Clusters Statistics",
        "tags": [
          "Statistics"
        ],
        "operationId": "tag/Statistics/paths/~1adv~1v0~1normquery~1stats/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Statistics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Statistika/paths/~1adv~1v0~1normquery~1stats/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v3/fullstats": {
      "get": {
        "summary": "Campaigns Statistics",
        "tags": [
          "Statistics"
        ],
        "operationId": "tag/Statistics/paths/~1adv~1v3~1fullstats/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Statistics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "3 запроса",
              "Интервал": "20 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "3 запроса",
              "Интервал": "20 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "3 запроса",
              "Интервал": "20 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Statistika/paths/~1adv~1v3~1fullstats/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/stats": {
      "post": {
        "summary": "Media Campaign Statistics",
        "tags": [
          "Statistics"
        ],
        "operationId": "tag/Statistics/paths/~1adv~1v1~1stats/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Statistics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "10 запросов",
              "Интервал": "100 мс",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Statistika/paths/~1adv~1v1~1stats/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/adv/v1/normquery/stats": {
      "post": {
        "summary": "Daily Search Clusters Statistics",
        "tags": [
          "Statistics"
        ],
        "operationId": "tag/Statistics/paths/~1adv~1v1~1normquery~1stats/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Statistics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Statistika/paths/~1adv~1v1~1normquery~1stats/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/calendar/promotions": {
      "get": {
        "summary": "Promotions List",
        "tags": [
          "Promotions Calendar"
        ],
        "operationId": "tag/Promotions-Calendar/paths/~1api~1v1~1calendar~1promotions/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Promotions Calendar",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Календарь акций:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/promoCalendar/paths/~1api~1v1~1calendar~1promotions/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/calendar/promotions/details": {
      "get": {
        "summary": "Promotions Details",
        "tags": [
          "Promotions Calendar"
        ],
        "operationId": "tag/Promotions-Calendar/paths/~1api~1v1~1calendar~1promotions~1details/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Promotions Calendar",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Календарь акций:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/promoCalendar/paths/~1api~1v1~1calendar~1promotions~1details/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/calendar/promotions/nomenclatures": {
      "get": {
        "summary": "List of Products for Participating in the Promotion",
        "tags": [
          "Promotions Calendar"
        ],
        "operationId": "tag/Promotions-Calendar/paths/~1api~1v1~1calendar~1promotions~1nomenclatures/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Promotions Calendar",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Календарь акций:",
          "limits": [
            {
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/promoCalendar/paths/~1api~1v1~1calendar~1promotions~1nomenclatures/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/calendar/promotions/upload": {
      "post": {
        "summary": "Add Product to the Promotion",
        "tags": [
          "Promotions Calendar"
        ],
        "operationId": "tag/Promotions-Calendar/paths/~1api~1v1~1calendar~1promotions~1upload/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/promotion and https://dev.wildberries.ru/en/swagger/promotion for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Promotions Calendar",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Календарь акций:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/promoCalendar/paths/~1api~1v1~1calendar~1promotions~1upload/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/advert/v1/config": {
      "get": {
        "summary": "Конфигурационные значения продвижения",
        "tags": [
          "Live documentation"
        ],
        "operationId": "tag/Upravlenie-kampaniyami/operation/getV1Config",
        "description": "See https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/operation/getV1Config for current request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Live documentation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Upravlenie-kampaniyami/operation/getV1Config",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        },
        "x-wb-host": "advert-api.wildberries.ru"
      }
    },
    "/api/advert/v1/normquery/bids": {
      "post": {
        "summary": "Установить ставки для поисковых кластеров в валюте аккаунта продавца",
        "tags": [
          "Live documentation"
        ],
        "operationId": "tag/Poiskovye-klastery/operation/postV1NormqueryBids",
        "description": "See https://dev.wildberries.ru/docs/openapi/promotion#tag/Poiskovye-klastery/operation/postV1NormqueryBids for current request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Live documentation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "2 запроса",
              "Интервал": "500 мс",
              "Всплеск": "4 запроса"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "2 запроса",
              "Интервал": "500 мс",
              "Всплеск": "4 запроса"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/promotion#tag/Poiskovye-klastery/operation/postV1NormqueryBids",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        },
        "x-wb-host": "advert-api.wildberries.ru"
      }
    }
  },
  "x-wb-extraction": {
    "mode": "docs-html-snapshot",
    "doc_url": "https://dev.wildberries.ru/en/docs/openapi/promotion",
    "swagger_url": "https://dev.wildberries.ru/en/swagger/promotion",
    "chapter_path": "promotion",
    "group_count": 10,
    "operation_count": 39
  },
  "x-wb-rate-limits": {
    "verifiedAt": "2026-07-29T13:07:26.863Z",
    "source": "https://dev.wildberries.ru/en/docs/openapi/promotion",
    "operationCount": 39
  }
}
