{
  "openapi": "3.0.0",
  "info": {
    "title": "Reports",
    "version": "html-snapshot",
    "description": "Production documentation snapshot extracted from the official Wildberries documentation HTML for https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports."
  },
  "servers": [
    {
      "url": "https://statistics-api.wildberries.ru"
    },
    {
      "url": "https://seller-analytics-api.wildberries.ru"
    }
  ],
  "tags": [
    {
      "name": "Reports"
    },
    {
      "name": "Main Reports"
    },
    {
      "name": "Warehouses Inventory Report"
    },
    {
      "name": "Report on Products with Mandatory Labeling"
    },
    {
      "name": "Retention Reports"
    },
    {
      "name": "Acceptance Expenses"
    },
    {
      "name": "Paid Storage"
    },
    {
      "name": "Sales by Regions"
    },
    {
      "name": "Share of Brand in Sales"
    },
    {
      "name": "Hidden Products"
    },
    {
      "name": "Returns and Product Movement Report"
    }
  ],
  "paths": {
    "/api/v1/supplier/orders": {
      "get": {
        "summary": "Orders",
        "tags": [
          "Main Reports"
        ],
        "operationId": "tag/Main-Reports/paths/~1api~1v1~1supplier~1orders/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Main Reports",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "3 ч",
              "Лимит": "1 запрос",
              "Интервал": "3 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/supplier/sales": {
      "get": {
        "summary": "Sales",
        "tags": [
          "Main Reports"
        ],
        "operationId": "tag/Main-Reports/paths/~1api~1v1~1supplier~1sales/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Main Reports",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "2 ч",
              "Лимит": "1 запрос",
              "Интервал": "2 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/warehouse_remains": {
      "get": {
        "summary": "Create the Report",
        "tags": [
          "Warehouses Inventory Report"
        ],
        "operationId": "tag/Warehouses-Inventory-Report/paths/~1api~1v1~1warehouse_remains/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Warehouses Inventory Report",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyot-ob-ostatkah-na-skladah/paths/~1api~1v1~1warehouse_remains/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/warehouse_remains/tasks/{task_id}/status": {
      "get": {
        "summary": "Check the Status",
        "tags": [
          "Warehouses Inventory Report"
        ],
        "operationId": "tag/Warehouses-Inventory-Report/paths/~1api~1v1~1warehouse_remains~1tasks~1{task_id}~1status/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Warehouses Inventory Report",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyot-ob-ostatkah-na-skladah/paths/~1api~1v1~1warehouse_remains~1tasks~1{task_id}~1status/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/warehouse_remains/tasks/{task_id}/download": {
      "get": {
        "summary": "Get the Report",
        "tags": [
          "Warehouses Inventory Report"
        ],
        "operationId": "tag/Warehouses-Inventory-Report/paths/~1api~1v1~1warehouse_remains~1tasks~1{task_id}~1download/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Warehouses Inventory Report",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyot-ob-ostatkah-na-skladah/paths/~1api~1v1~1warehouse_remains~1tasks~1{task_id}~1download/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/excise-report": {
      "post": {
        "summary": "Report on Products with Mandatory Labeling",
        "tags": [
          "Report on Products with Mandatory Labeling"
        ],
        "operationId": "tag/Report-on-Products-with-Mandatory-Labeling/paths/~1api~1v1~1analytics~1excise-report/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Report on Products with Mandatory Labeling",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "5 ч",
              "Лимит": "10 запросов",
              "Интервал": "30 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "5 ч",
              "Лимит": "10 запросов",
              "Интервал": "30 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "5 ч",
              "Лимит": "10 запросов",
              "Интервал": "30 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "24 ч",
              "Лимит": "2 запроса",
              "Интервал": "12 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyot-o-tovarah-c-obyazatelnoj-markirovkoj/paths/~1api~1v1~1analytics~1excise-report/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/analytics/v1/measurement-penalties": {
      "get": {
        "summary": "Logistics and Storage Costs Multiplier",
        "tags": [
          "Retention Reports"
        ],
        "operationId": "tag/Retention-Reports/operation/getMeasurementPenalties",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Retention Reports",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "6 ч",
              "Лимит": "1 запрос",
              "Интервал": "6 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyoty-ob-uderzhaniyah/operation/getV1MeasurementPenalties",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/analytics/v1/warehouse-measurements": {
      "get": {
        "summary": "Warehouse Measurements",
        "tags": [
          "Retention Reports"
        ],
        "operationId": "tag/Retention-Reports/operation/getWarehouseMeasurements",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Retention Reports",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "6 ч",
              "Лимит": "1 запрос",
              "Интервал": "6 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyoty-ob-uderzhaniyah/operation/getV1WarehouseMeasurements",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/analytics/v1/deductions": {
      "get": {
        "summary": "Substitutions and Incorrect Attachments",
        "tags": [
          "Retention Reports"
        ],
        "operationId": "tag/Retention-Reports/operation/getDeductions",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Retention Reports",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyoty-ob-uderzhaniyah/operation/getV1Deductions",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/antifraud-details": {
      "get": {
        "summary": "Self-purchases",
        "tags": [
          "Retention Reports"
        ],
        "operationId": "tag/Retention-Reports/paths/~1api~1v1~1analytics~1antifraud-details/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Retention Reports",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "10 мин",
              "Лимит": "1 запрос",
              "Интервал": "10 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "10 мин",
              "Лимит": "1 запрос",
              "Интервал": "10 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "10 мин",
              "Лимит": "1 запрос",
              "Интервал": "10 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyoty-ob-uderzhaniyah/paths/~1api~1v1~1analytics~1antifraud-details/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/goods-labeling": {
      "get": {
        "summary": "Product Labeling",
        "tags": [
          "Retention Reports"
        ],
        "operationId": "tag/Retention-Reports/paths/~1api~1v1~1analytics~1goods-labeling/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Retention Reports",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyoty-ob-uderzhaniyah/paths/~1api~1v1~1analytics~1goods-labeling/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/acceptance_report": {
      "get": {
        "summary": "Create the Report",
        "tags": [
          "Acceptance Expenses"
        ],
        "operationId": "tag/Acceptance-Expenses/paths/~1api~1v1~1acceptance_report/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Acceptance Expenses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "3 ч",
              "Лимит": "1 запрос",
              "Интервал": "3 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Operacii-pri-priyomke/paths/~1api~1v1~1acceptance_report/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/acceptance_report/tasks/{task_id}/status": {
      "get": {
        "summary": "Check the Status",
        "tags": [
          "Acceptance Expenses"
        ],
        "operationId": "tag/Acceptance-Expenses/paths/~1api~1v1~1acceptance_report~1tasks~1{task_id}~1status/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Acceptance Expenses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Operacii-pri-priyomke/paths/~1api~1v1~1acceptance_report~1tasks~1{task_id}~1status/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/acceptance_report/tasks/{task_id}/download": {
      "get": {
        "summary": "Get the Report",
        "tags": [
          "Acceptance Expenses"
        ],
        "operationId": "tag/Acceptance-Expenses/paths/~1api~1v1~1acceptance_report~1tasks~1{task_id}~1download/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Acceptance Expenses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Operacii-pri-priyomke/paths/~1api~1v1~1acceptance_report~1tasks~1{task_id}~1download/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/paid_storage": {
      "get": {
        "summary": "Generate the Report",
        "tags": [
          "Paid Storage"
        ],
        "operationId": "tag/Paid-Storage/paths/~1api~1v1~1paid_storage/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Paid Storage",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/paid_storage/tasks/{task_id}/status": {
      "get": {
        "summary": "Check the Status",
        "tags": [
          "Paid Storage"
        ],
        "operationId": "tag/Paid-Storage/paths/~1api~1v1~1paid_storage~1tasks~1{task_id}~1status/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Paid Storage",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "2 запроса"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage~1tasks~1{task_id}~1status/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/paid_storage/tasks/{task_id}/download": {
      "get": {
        "summary": "Get the Report",
        "tags": [
          "Paid Storage"
        ],
        "operationId": "tag/Paid-Storage/paths/~1api~1v1~1paid_storage~1tasks~1{task_id}~1download/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Paid Storage",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "1 запрос"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Platnoe-hranenie/paths/~1api~1v1~1paid_storage~1tasks~1{task_id}~1download/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/region-sale": {
      "get": {
        "summary": "Get Report",
        "tags": [
          "Sales by Regions"
        ],
        "operationId": "tag/Sales-by-Regions/paths/~1api~1v1~1analytics~1region-sale/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Sales by Regions",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "10 сек",
              "Лимит": "1 запрос",
              "Интервал": "10 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "10 сек",
              "Лимит": "1 запрос",
              "Интервал": "10 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "10 сек",
              "Лимит": "1 запрос",
              "Интервал": "10 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Prodazhi-po-regionam/paths/~1api~1v1~1analytics~1region-sale/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/brand-share/brands": {
      "get": {
        "summary": "Seller Brands",
        "tags": [
          "Share of Brand in Sales"
        ],
        "operationId": "tag/Share-of-Brand-in-Sales/paths/~1api~1v1~1analytics~1brand-share~1brands/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Share of Brand in Sales",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Dolya-brenda-v-prodazhah/paths/~1api~1v1~1analytics~1brand-share~1brands/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/brand-share/parent-subjects": {
      "get": {
        "summary": "Parent Categories of the Brand",
        "tags": [
          "Share of Brand in Sales"
        ],
        "operationId": "tag/Share-of-Brand-in-Sales/paths/~1api~1v1~1analytics~1brand-share~1parent-subjects/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Share of Brand in Sales",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Dolya-brenda-v-prodazhah/paths/~1api~1v1~1analytics~1brand-share~1parent-subjects/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/brand-share": {
      "get": {
        "summary": "Get Report",
        "tags": [
          "Share of Brand in Sales"
        ],
        "operationId": "tag/Share-of-Brand-in-Sales/paths/~1api~1v1~1analytics~1brand-share/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Share of Brand in Sales",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "5 сек",
              "Лимит": "1 запрос",
              "Интервал": "5 сек",
              "Всплеск": "20 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Dolya-brenda-v-prodazhah/paths/~1api~1v1~1analytics~1brand-share/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/banned-products/blocked": {
      "get": {
        "summary": "Blocked Product Cards",
        "tags": [
          "Hidden Products"
        ],
        "operationId": "tag/Hidden-Products/paths/~1api~1v1~1analytics~1banned-products~1blocked/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Hidden Products",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "10 сек",
              "Лимит": "1 запрос",
              "Интервал": "10 сек",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "10 сек",
              "Лимит": "1 запрос",
              "Интервал": "10 сек",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "10 сек",
              "Лимит": "1 запрос",
              "Интервал": "10 сек",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Zablokirovannye-kartochki/paths/~1api~1v1~1analytics~1banned-products~1blocked/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/banned-products/shadowed": {
      "get": {
        "summary": "Hidden from the Catalog",
        "tags": [
          "Hidden Products"
        ],
        "operationId": "tag/Hidden-Products/paths/~1api~1v1~1analytics~1banned-products~1shadowed/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Hidden Products",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "10 сек",
              "Лимит": "1 запрос",
              "Интервал": "10 сек",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "10 сек",
              "Лимит": "1 запрос",
              "Интервал": "10 сек",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "10 сек",
              "Лимит": "1 запрос",
              "Интервал": "10 сек",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Zablokirovannye-kartochki/paths/~1api~1v1~1analytics~1banned-products~1shadowed/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/analytics/goods-return": {
      "get": {
        "summary": "Get Report",
        "tags": [
          "Returns and Product Movement Report"
        ],
        "operationId": "tag/Returns-and-Product-Movement-Report/paths/~1api~1v1~1analytics~1goods-return/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/reports and https://dev.wildberries.ru/en/swagger/reports for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Returns and Product Movement Report",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "1 запрос",
              "Интервал": "1 мин",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov/paths/~1api~1v1~1analytics~1goods-return/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    }
  },
  "x-wb-extraction": {
    "mode": "docs-html-snapshot",
    "doc_url": "https://dev.wildberries.ru/en/docs/openapi/reports",
    "swagger_url": "https://dev.wildberries.ru/en/swagger/reports",
    "chapter_path": "reports",
    "group_count": 11,
    "operation_count": 25
  },
  "x-wb-rate-limits": {
    "verifiedAt": "2026-07-29T13:07:26.863Z",
    "source": "https://dev.wildberries.ru/en/docs/openapi/reports",
    "operationCount": 24
  }
}
