{
  "openapi": "3.0.0",
  "info": {
    "title": "Customer Communication",
    "version": "html-snapshot",
    "description": "Production documentation snapshot extracted from the official Wildberries documentation HTML for https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications."
  },
  "servers": [
    {
      "url": "https://feedbacks-api.wildberries.ru"
    },
    {
      "url": "https://buyer-chat-api.wildberries.ru"
    },
    {
      "url": "https://returns-api.wildberries.ru"
    }
  ],
  "tags": [
    {
      "name": "Customer Communication"
    },
    {
      "name": "Questions"
    },
    {
      "name": "Feedbacks"
    },
    {
      "name": "Pinned Feedback"
    },
    {
      "name": "Buyers Chat"
    },
    {
      "name": "Buyers Returns"
    }
  ],
  "paths": {
    "/api/v1/new-feedbacks-questions": {
      "get": {
        "summary": "Unseen Feedbacks and Questions",
        "tags": [
          "Questions"
        ],
        "operationId": "tag/Questions/paths/~1api~1v1~1new-feedbacks-questions/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Questions",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1new-feedbacks-questions/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/questions/count-unanswered": {
      "get": {
        "summary": "Unanswered Questions",
        "tags": [
          "Questions"
        ],
        "operationId": "tag/Questions/paths/~1api~1v1~1questions~1count-unanswered/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Questions",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions~1count-unanswered/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/questions/count": {
      "get": {
        "summary": "Number of Questions",
        "tags": [
          "Questions"
        ],
        "operationId": "tag/Questions/paths/~1api~1v1~1questions~1count/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Questions",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions~1count/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/questions": {
      "get": {
        "summary": "Question List",
        "tags": [
          "Questions"
        ],
        "operationId": "tag/Questions/paths/~1api~1v1~1questions/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Questions",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      },
      "patch": {
        "summary": "Working with Questions",
        "tags": [
          "Questions"
        ],
        "operationId": "tag/Questions/paths/~1api~1v1~1questions/patch",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Questions",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1questions/patch",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/question": {
      "get": {
        "summary": "Get the Question by ID",
        "tags": [
          "Questions"
        ],
        "operationId": "tag/Questions/paths/~1api~1v1~1question/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Questions",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Voprosy/paths/~1api~1v1~1question/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/feedbacks/count-unanswered": {
      "get": {
        "summary": "Unanswered Feedbacks",
        "tags": [
          "Feedbacks"
        ],
        "operationId": "tag/Feedbacks/paths/~1api~1v1~1feedbacks~1count-unanswered/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Feedbacks",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1count-unanswered/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/feedbacks/count": {
      "get": {
        "summary": "Number of Feedbacks",
        "tags": [
          "Feedbacks"
        ],
        "operationId": "tag/Feedbacks/paths/~1api~1v1~1feedbacks~1count/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Feedbacks",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1count/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/feedbacks": {
      "get": {
        "summary": "Feedbacks List",
        "tags": [
          "Feedbacks"
        ],
        "operationId": "tag/Feedbacks/paths/~1api~1v1~1feedbacks/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Feedbacks",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/feedbacks/answer": {
      "post": {
        "summary": "Reply to Feedback",
        "tags": [
          "Feedbacks"
        ],
        "operationId": "tag/Feedbacks/paths/~1api~1v1~1feedbacks~1answer/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Feedbacks",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1answer/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      },
      "patch": {
        "summary": "Edit Response to Feedback",
        "tags": [
          "Feedbacks"
        ],
        "operationId": "tag/Feedbacks/paths/~1api~1v1~1feedbacks~1answer/patch",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Feedbacks",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1answer/patch",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/feedbacks/order/return": {
      "post": {
        "summary": "Return Product by Feedback ID",
        "tags": [
          "Feedbacks"
        ],
        "operationId": "tag/Feedbacks/paths/~1api~1v1~1feedbacks~1order~1return/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Feedbacks",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1order~1return/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/feedback": {
      "get": {
        "summary": "Get the Feedback by ID",
        "tags": [
          "Feedbacks"
        ],
        "operationId": "tag/Feedbacks/paths/~1api~1v1~1feedback/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Feedbacks",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedback/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/feedbacks/archive": {
      "get": {
        "summary": "List of Archived Feedbacks",
        "tags": [
          "Feedbacks"
        ],
        "operationId": "tag/Feedbacks/paths/~1api~1v1~1feedbacks~1archive/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Feedbacks",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Otzyvy/paths/~1api~1v1~1feedbacks~1archive/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/feedbacks/v1/pins": {
      "get": {
        "summary": "List of Pinned and Unpinned Feedback",
        "tags": [
          "Pinned Feedback"
        ],
        "operationId": "tag/Pinned-Feedback/paths/~1api~1feedbacks~1v1~1pins/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Pinned Feedback",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Zakreplyonnye-otzyvy/paths/~1api~1feedbacks~1v1~1pins/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      },
      "post": {
        "summary": "Pin Feedback",
        "tags": [
          "Pinned Feedback"
        ],
        "operationId": "tag/Pinned-Feedback/paths/~1api~1feedbacks~1v1~1pins/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Pinned Feedback",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Zakreplyonnye-otzyvy/paths/~1api~1feedbacks~1v1~1pins/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      },
      "delete": {
        "summary": "Unpin Feedback",
        "tags": [
          "Pinned Feedback"
        ],
        "operationId": "tag/Pinned-Feedback/paths/~1api~1feedbacks~1v1~1pins/delete",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Pinned Feedback",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Zakreplyonnye-otzyvy/paths/~1api~1feedbacks~1v1~1pins/delete",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/feedbacks/v1/pins/count": {
      "get": {
        "summary": "Pinned and Unpinned Feedback Number",
        "tags": [
          "Pinned Feedback"
        ],
        "operationId": "tag/Pinned-Feedback/paths/~1api~1feedbacks~1v1~1pins~1count/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Pinned Feedback",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Zakreplyonnye-otzyvy/paths/~1api~1feedbacks~1v1~1pins~1count/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/feedbacks/v1/pins/limits": {
      "get": {
        "summary": "Pinned Feedback Limits",
        "tags": [
          "Pinned Feedback"
        ],
        "operationId": "tag/Pinned-Feedback/paths/~1api~1feedbacks~1v1~1pins~1limits/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Pinned Feedback",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Вопросы и отзывы:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "3 запроса",
              "Интервал": "333 мс",
              "Всплеск": "6 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "5 запросов",
              "Интервал": "12 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Zakreplyonnye-otzyvy/paths/~1api~1feedbacks~1v1~1pins~1limits/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/seller/chats": {
      "get": {
        "summary": "Chat List",
        "tags": [
          "Buyers Chat"
        ],
        "operationId": "tag/Buyers-Chat/paths/~1api~1v1~1seller~1chats/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Buyers Chat",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1chats/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/seller/events": {
      "get": {
        "summary": "Chat Events",
        "tags": [
          "Buyers Chat"
        ],
        "operationId": "tag/Buyers-Chat/paths/~1api~1v1~1seller~1events/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Buyers Chat",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1events/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/seller/message": {
      "post": {
        "summary": "Send Message",
        "tags": [
          "Buyers Chat"
        ],
        "operationId": "tag/Buyers-Chat/paths/~1api~1v1~1seller~1message/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Buyers Chat",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1message/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/seller/download/{id}": {
      "get": {
        "summary": "Get File from the Message",
        "tags": [
          "Buyers Chat"
        ],
        "operationId": "tag/Buyers-Chat/paths/~1api~1v1~1seller~1download~1{id}/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Buyers Chat",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "10 сек",
              "Лимит": "10 запросов",
              "Интервал": "1 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "10 запросов",
              "Интервал": "6 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Chat-s-pokupatelyami/paths/~1api~1v1~1seller~1download~1{id}/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/claims": {
      "get": {
        "summary": "Buyers Return Applications",
        "tags": [
          "Buyers Returns"
        ],
        "operationId": "tag/Buyers-Returns/paths/~1api~1v1~1claims/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Buyers Returns",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v1/claim": {
      "patch": {
        "summary": "Answer Buyers Application",
        "tags": [
          "Buyers Returns"
        ],
        "operationId": "tag/Buyers-Returns/paths/~1api~1v1~1claim/patch",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/user-communication and https://dev.wildberries.ru/en/swagger/communications for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Buyers Returns",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "20 запросов",
              "Интервал": "3 сек",
              "Всплеск": "10 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claim/patch",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    }
  },
  "x-wb-extraction": {
    "mode": "docs-html-snapshot",
    "doc_url": "https://dev.wildberries.ru/en/docs/openapi/user-communication",
    "swagger_url": "https://dev.wildberries.ru/en/swagger/communications",
    "chapter_path": "user-communication",
    "group_count": 6,
    "operation_count": 25
  },
  "x-wb-rate-limits": {
    "verifiedAt": "2026-07-29T13:07:26.863Z",
    "source": "https://dev.wildberries.ru/en/docs/openapi/user-communication",
    "operationCount": 25
  }
}
