{
  "openapi": "3.0.0",
  "info": {
    "title": "Product Management",
    "version": "html-snapshot",
    "description": "Production documentation snapshot extracted from the official Wildberries documentation HTML for https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products."
  },
  "servers": [
    {
      "url": "https://content-api.wildberries.ru"
    },
    {
      "url": "https://discounts-prices-api.wildberries.ru"
    },
    {
      "url": "https://marketplace-api.wildberries.ru"
    }
  ],
  "tags": [
    {
      "name": "Product Management"
    },
    {
      "name": "Categories, Subjects, and Characteristics"
    },
    {
      "name": "Creating Product Cards"
    },
    {
      "name": "Product Cards"
    },
    {
      "name": "Media Files"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Prices and Discounts"
    },
    {
      "name": "Seller Warehouses"
    },
    {
      "name": "Seller Warehouses Inventory"
    }
  ],
  "paths": {
    "/content/v2/object/parent/all": {
      "get": {
        "summary": "Products Parent Categories",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1object~1parent~1all/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Контент:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1parent~1all/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Исключение — методы:\n\nсоздания карточек товаров\nсоздания карточек товаров с присоединением\nредактирования карточек товаров\nвосстановления карточек товаров из корзины\nполучения списка рекомендаций в карточках товаров\nустановки рекомендаций для товаров"
        }
      }
    },
    "/content/v2/object/all": {
      "get": {
        "summary": "Subjects List",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1object~1all/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Контент:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1all/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Исключение — методы:\n\nсоздания карточек товаров\nсоздания карточек товаров с присоединением\nредактирования карточек товаров\nвосстановления карточек товаров из корзины\nполучения списка рекомендаций в карточках товаров\nустановки рекомендаций для товаров"
        }
      }
    },
    "/content/v2/object/charcs/{subjectId}": {
      "get": {
        "summary": "Subject Characteristics",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1object~1charcs~1{subjectId}/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Контент:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1charcs~1{subjectId}/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Исключение — методы:\n\nсоздания карточек товаров\nсоздания карточек товаров с присоединением\nредактирования карточек товаров\nвосстановления карточек товаров из корзины\nполучения списка рекомендаций в карточках товаров\nустановки рекомендаций для товаров"
        }
      }
    },
    "/content/v2/directory/colors": {
      "get": {
        "summary": "Color",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1directory~1colors/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов Характеристик:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1colors/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/directory/kinds": {
      "get": {
        "summary": "Gender",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1directory~1kinds/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов Характеристик:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1kinds/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/directory/countries": {
      "get": {
        "summary": "Country of Origin",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1directory~1countries/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Контент:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1countries/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Исключение — методы:\n\nсоздания карточек товаров\nсоздания карточек товаров с присоединением\nредактирования карточек товаров\nвосстановления карточек товаров из корзины\nполучения списка рекомендаций в карточках товаров\nустановки рекомендаций для товаров"
        }
      }
    },
    "/content/v2/directory/seasons": {
      "get": {
        "summary": "Season",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1directory~1seasons/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов Характеристик:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1seasons/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/directory/vat": {
      "get": {
        "summary": "VAT Rate",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1directory~1vat/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов Характеристик:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1vat/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/directory/tnved": {
      "get": {
        "summary": "HS-codes",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1content~1v2~1directory~1tnved/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Контент:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1directory~1tnved/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Исключение — методы:\n\nсоздания карточек товаров\nсоздания карточек товаров с присоединением\nредактирования карточек товаров\nвосстановления карточек товаров из корзины\nполучения списка рекомендаций в карточках товаров\nустановки рекомендаций для товаров"
        }
      }
    },
    "/api/content/v1/brands": {
      "get": {
        "summary": "Brands",
        "tags": [
          "Categories, Subjects, and Characteristics"
        ],
        "operationId": "tag/Categories-Subjects-and-Characteristics/paths/~1api~1content~1v1~1brands/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Categories, Subjects, and Characteristics",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 сек",
              "Лимит": "1 запрос",
              "Интервал": "1 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "1 запрос",
              "Интервал": "1 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1api~1content~1v1~1brands/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/cards/limits": {
      "get": {
        "summary": "Limits for the Product Cards",
        "tags": [
          "Creating Product Cards"
        ],
        "operationId": "tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1limits/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Creating Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1limits/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получения лимитов карточек товаров\nполучения несозданных карточек товаров с ошибками"
        }
      }
    },
    "/content/v2/barcodes": {
      "post": {
        "summary": "Generation of SKUs",
        "tags": [
          "Creating Product Cards"
        ],
        "operationId": "tag/Creating-Product-Cards/paths/~1content~1v2~1barcodes/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Creating Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Контент:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1barcodes/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Исключение — методы:\n\nсоздания карточек товаров\nсоздания карточек товаров с присоединением\nредактирования карточек товаров\nвосстановления карточек товаров из корзины\nполучения списка рекомендаций в карточках товаров\nустановки рекомендаций для товаров"
        }
      }
    },
    "/content/v2/cards/upload": {
      "post": {
        "summary": "Create Product Cards",
        "tags": [
          "Creating Product Cards"
        ],
        "operationId": "tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Creating Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/cards/upload/add": {
      "post": {
        "summary": "Create Product Cards with Merge",
        "tags": [
          "Creating Product Cards"
        ],
        "operationId": "tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Creating Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "2 ч",
              "Лимит": "1 запрос",
              "Интервал": "2 ч",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listingItems/paths/~1content~1v2~1cards~1upload~1add/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/get/cards/list": {
      "post": {
        "summary": "Product Cards List",
        "tags": [
          "Product Cards"
        ],
        "operationId": "tag/Product-Cards/paths/~1content~1v2~1get~1cards~1list/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1list/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/cards/error/list": {
      "post": {
        "summary": "List of Failed Product Cards with Errors",
        "tags": [
          "Product Cards"
        ],
        "operationId": "tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для методов:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1error~1list/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получения лимитов карточек товаров\nполучения несозданных карточек товаров с ошибками"
        }
      }
    },
    "/content/v2/cards/update": {
      "post": {
        "summary": "Update Product Cards",
        "tags": [
          "Product Cards"
        ],
        "operationId": "tag/Product-Cards/paths/~1content~1v2~1cards~1update/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1update/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/cards/moveNm": {
      "post": {
        "summary": "Merging or Separating of Product Cards",
        "tags": [
          "Product Cards"
        ],
        "operationId": "tag/Product-Cards/paths/~1content~1v2~1cards~1moveNm/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Контент:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1moveNm/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Исключение — методы:\n\nсоздания карточек товаров\nсоздания карточек товаров с присоединением\nредактирования карточек товаров\nвосстановления карточек товаров из корзины\nполучения списка рекомендаций в карточках товаров\nустановки рекомендаций для товаров"
        }
      }
    },
    "/content/v2/cards/delete/trash": {
      "post": {
        "summary": "Transfer Product Card to Trash",
        "tags": [
          "Product Cards"
        ],
        "operationId": "tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1delete~1trash/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/cards/recover": {
      "post": {
        "summary": "Recover Product Card from Trash",
        "tags": [
          "Product Cards"
        ],
        "operationId": "tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "3 запроса",
              "Интервал": "20 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "3 запроса",
              "Интервал": "20 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "3 запроса",
              "Интервал": "20 сек",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listings/paths/~1content~1v2~1cards~1recover/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/get/cards/trash": {
      "post": {
        "summary": "Product Cards in Trash List",
        "tags": [
          "Product Cards"
        ],
        "operationId": "tag/Product-Cards/paths/~1content~1v2~1get~1cards~1trash/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Product Cards",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Контент:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1trash/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Исключение — методы:\n\nсоздания карточек товаров\nсоздания карточек товаров с присоединением\nредактирования карточек товаров\nвосстановления карточек товаров из корзины\nполучения списка рекомендаций в карточках товаров\nустановки рекомендаций для товаров"
        }
      }
    },
    "/content/v3/media/file": {
      "post": {
        "summary": "Upload Media File",
        "tags": [
          "Media Files"
        ],
        "operationId": "tag/Media-Files/paths/~1content~1v3~1media~1file/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Media Files",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов Медиафайлов:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/mediaFiles/paths/~1content~1v3~1media~1file/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v3/media/save": {
      "post": {
        "summary": "Upload Media Files via Links",
        "tags": [
          "Media Files"
        ],
        "operationId": "tag/Media-Files/paths/~1content~1v3~1media~1save/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Media Files",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов Медиафайлов:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/mediaFiles/paths/~1content~1v3~1media~1save/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/tags": {
      "get": {
        "summary": "Tags List",
        "tags": [
          "Tags"
        ],
        "operationId": "tag/Tags/paths/~1content~1v2~1tags/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Tags",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов Ярлыков:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/labels/paths/~1content~1v2~1tags/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/tag": {
      "post": {
        "summary": "Create a Tag",
        "tags": [
          "Tags"
        ],
        "operationId": "tag/Tags/paths/~1content~1v2~1tag/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Tags",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов Ярлыков:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/labels/paths/~1content~1v2~1tag/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/tag/{id}": {
      "patch": {
        "summary": "Update the Tag",
        "tags": [
          "Tags"
        ],
        "operationId": "tag/Tags/paths/~1content~1v2~1tag~1{id}/patch",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Tags",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов Ярлыков:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/labels/paths/~1content~1v2~1tag~1{id}/patch",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      },
      "delete": {
        "summary": "Delete the Tag",
        "tags": [
          "Tags"
        ],
        "operationId": "tag/Tags/paths/~1content~1v2~1tag~1{id}/delete",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Tags",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов Ярлыков:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/labels/paths/~1content~1v2~1tag~1{id}/delete",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/content/v2/tag/nomenclature/link": {
      "post": {
        "summary": "Tag Management in the Product Card",
        "tags": [
          "Tags"
        ],
        "operationId": "tag/Tags/paths/~1content~1v2~1tag~1nomenclature~1link/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Tags",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов Ярлыков:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "2 запроса",
              "Интервал": "30 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/labels/paths/~1content~1v2~1tag~1nomenclature~1link/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/upload/task": {
      "post": {
        "summary": "Set Prices and Discounts",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1upload~1task/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1upload~1task/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/upload/task/size": {
      "post": {
        "summary": "Set Size Prices",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1upload~1task~1size/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1upload~1task~1size/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/upload/task/club-discount": {
      "post": {
        "summary": "Set WB Club Discounts",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1upload~1task~1club-discount/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1upload~1task~1club-discount/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/discounts-prices/v1/upload/task/b2b/wholesale": {
      "post": {
        "summary": "Set Wholesale Discounts for B2B",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/operation/postV1UploadTaskB2bWholesale",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/operation/postV1UploadTaskB2bWholesale",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/history/tasks": {
      "get": {
        "summary": "Processed Upload State",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1history~1tasks/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1history~1tasks/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/history/goods/task": {
      "get": {
        "summary": "Processed Upload Details",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1history~1goods~1task/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1history~1goods~1task/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/buffer/tasks": {
      "get": {
        "summary": "Unprocessed Upload State",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1buffer~1tasks/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1buffer~1tasks/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/buffer/goods/task": {
      "get": {
        "summary": "Unprocessed Upload Details",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1buffer~1goods~1task/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1buffer~1goods~1task/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/list/goods/filter": {
      "get": {
        "summary": "Get Products with Prices",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1list~1goods~1filter/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1list~1goods~1filter/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      },
      "post": {
        "summary": "Get Products with Prices by Articles",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1list~1goods~1filter/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1list~1goods~1filter/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/list/goods/size/nm": {
      "get": {
        "summary": "Get Product Sizes with Prices",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1list~1goods~1size~1nm/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1list~1goods~1size~1nm/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v2/quarantine/goods": {
      "get": {
        "summary": "Get Products in Quarantine",
        "tags": [
          "Prices and Discounts"
        ],
        "operationId": "tag/Prices-and-Discounts/paths/~1api~1v2~1quarantine~1goods/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Prices and Discounts",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов категории Цены и скидки:",
          "limits": [
            {
              "Тип": "Персональный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Сервисный",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый с секретом",
              "Период": "6 сек",
              "Лимит": "10 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            },
            {
              "Тип": "Базовый",
              "Период": "1 ч",
              "Лимит": "4 запроса",
              "Интервал": "15 мин",
              "Всплеск": "1 запрос"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ceny-i-skidki/paths/~1api~1v2~1quarantine~1goods/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        }
      }
    },
    "/api/v3/offices": {
      "get": {
        "summary": "Get Offices",
        "tags": [
          "Seller Warehouses"
        ],
        "operationId": "tag/Seller-Warehouses/paths/~1api~1v3~1offices/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов складов продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Sklady-prodavca/paths/~1api~1v3~1offices/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/warehouses": {
      "get": {
        "summary": "Get Warehouses",
        "tags": [
          "Seller Warehouses"
        ],
        "operationId": "tag/Seller-Warehouses/paths/~1api~1v3~1warehouses/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов складов продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Sklady-prodavca/paths/~1api~1v3~1warehouses/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      },
      "post": {
        "summary": "Create Warehouse",
        "tags": [
          "Seller Warehouses"
        ],
        "operationId": "tag/Seller-Warehouses/paths/~1api~1v3~1warehouses/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов складов продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Sklady-prodavca/paths/~1api~1v3~1warehouses/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/warehouses/{warehouseId}": {
      "put": {
        "summary": "Update Warehouse",
        "tags": [
          "Seller Warehouses"
        ],
        "operationId": "tag/Seller-Warehouses/paths/~1api~1v3~1warehouses~1{warehouseId}/put",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов складов продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Sklady-prodavca/paths/~1api~1v3~1warehouses~1{warehouseId}/put",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      },
      "delete": {
        "summary": "Delete Warehouse",
        "tags": [
          "Seller Warehouses"
        ],
        "operationId": "tag/Seller-Warehouses/paths/~1api~1v3~1warehouses~1{warehouseId}/delete",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов складов продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Sklady-prodavca/paths/~1api~1v3~1warehouses~1{warehouseId}/delete",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/dbw/warehouses/{warehouseId}/contacts": {
      "get": {
        "summary": "Contacts List",
        "tags": [
          "Seller Warehouses"
        ],
        "operationId": "tag/Seller-Warehouses/paths/~1api~1v3~1dbw~1warehouses~1{warehouseId}~1contacts/get",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Sklady-prodavca/paths/~1api~1v3~1dbw~1warehouses~1{warehouseId}~1contacts/get",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      },
      "put": {
        "summary": "Update Contacts List",
        "tags": [
          "Seller Warehouses"
        ],
        "operationId": "tag/Seller-Warehouses/paths/~1api~1v3~1dbw~1warehouses~1{warehouseId}~1contacts/put",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для следующих методов DBW:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Sklady-prodavca/paths/~1api~1v3~1dbw~1warehouses~1{warehouseId}~1contacts/put",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "получение и обновление списка контактов\nполучение и удаление идентификаторов маркировки\nметоды сборочных заданий\n\n\nОдин запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/v3/stocks/{warehouseId}": {
      "put": {
        "summary": "Update Inventory",
        "tags": [
          "Seller Warehouses Inventory"
        ],
        "operationId": "tag/Seller-Warehouses-Inventory/paths/~1api~1v3~1stocks~1{warehouseId}/put",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses Inventory",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов остатков на складах продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ostatki-na-skladah-prodavca/paths/~1api~1v3~1stocks~1{warehouseId}/put",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      },
      "delete": {
        "summary": "Delete Inventory",
        "tags": [
          "Seller Warehouses Inventory"
        ],
        "operationId": "tag/Seller-Warehouses-Inventory/paths/~1api~1v3~1stocks~1{warehouseId}/delete",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses Inventory",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов остатков на складах продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "10 запросов",
              "Интервал": "6 сек",
              "Всплеск": "2 запроса"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ostatki-na-skladah-prodavca/paths/~1api~1v3~1stocks~1{warehouseId}/delete",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      },
      "post": {
        "summary": "Get Inventory",
        "tags": [
          "Seller Warehouses Inventory"
        ],
        "operationId": "tag/Seller-Warehouses-Inventory/paths/~1api~1v3~1stocks~1{warehouseId}/post",
        "description": "See https://dev.wildberries.ru/en/docs/openapi/work-with-products and https://dev.wildberries.ru/en/swagger/products for request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Seller Warehouses Inventory",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца для всех методов остатков на складах продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "300 запросов",
              "Интервал": "200 мс",
              "Всплеск": "20 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/Ostatki-na-skladah-prodavca/paths/~1api~1v3~1stocks~1{warehouseId}/post",
          "verifiedAt": "2026-07-29T13:07:26.863Z",
          "note": "Один запрос с кодами ответов 4XX учитывается как 10 запросов"
        }
      }
    },
    "/api/content/v1/recommendations/list": {
      "post": {
        "summary": "Список рекомендаций в карточках товаров",
        "tags": [
          "Live documentation"
        ],
        "operationId": "tag/recommendations/operation/postV1RecommendationsList",
        "description": "See https://dev.wildberries.ru/docs/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsList for current request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Live documentation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsList",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        },
        "x-wb-host": "content-api.wildberries.ru"
      }
    },
    "/api/content/v1/recommendations/set": {
      "post": {
        "summary": "Установить рекомендации для товаров",
        "tags": [
          "Live documentation"
        ],
        "operationId": "tag/recommendations/operation/postV1RecommendationsSet",
        "description": "See https://dev.wildberries.ru/docs/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsSet for current request and response details.",
        "responses": {
          "200": {
            "description": "Operation details are documented on the official Wildberries page."
          }
        },
        "x-wb-group": "Live documentation",
        "x-wb-rate-limits": {
          "scope": "Лимит запросов на один аккаунт продавца:",
          "limits": [
            {
              "Период": "1 мин",
              "Лимит": "100 запросов",
              "Интервал": "600 мс",
              "Всплеск": "5 запросов"
            }
          ],
          "source": "https://dev.wildberries.ru/docs/openapi/work-with-products#tag/recommendations/operation/postV1RecommendationsSet",
          "verifiedAt": "2026-07-29T13:07:26.863Z"
        },
        "x-wb-host": "content-api.wildberries.ru"
      }
    }
  },
  "x-wb-extraction": {
    "mode": "docs-html-snapshot",
    "doc_url": "https://dev.wildberries.ru/en/docs/openapi/work-with-products",
    "swagger_url": "https://dev.wildberries.ru/en/swagger/products",
    "chapter_path": "work-with-products",
    "group_count": 9,
    "operation_count": 50
  },
  "x-wb-rate-limits": {
    "verifiedAt": "2026-07-29T13:07:26.863Z",
    "source": "https://dev.wildberries.ru/en/docs/openapi/work-with-products",
    "operationCount": 52
  }
}
